<div id='modal' class= 'hide'>
    <div class= 'content'>
        <div class= 'header'>
            <h1>Pontos de coleta</h1>
            <a href="#">Fechar</a>
        </div>
        <form action="/search-results">
            <label for="search">Sua região</label>
            <div class='search field'>
                <input 
                type="text" 
                name='state'
                placeholder="Pesquise por estados"
                >
                <input type="text" name= 'city' placeholder= 'Pesquise por cidades'>
                <button>
                    <img src="/assets/search.svg" alt="Buscar">
                    Confirmar pesquisa
                </button>
            </div>
        </form>
    </div>
</div>