#page-create-point {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}
#page-create-point header {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
body.dmode #page-create-point header a {
    color: rgb(187, 22, 187)
}
#page-create-point header a {
    color: var(--tittle-color);
    font-weight: bold;
    display: flex;
    align-items: center;
}

#page-create-point header a span {
    margin-right: 16px;
    background-image: url('../assets/arrow-left.svg');
    width: 20px;
    height: 24px;
    display: flex;
}
body.dmode form {
    background: rgb(82, 82, 82);
    color: white;
}
form {
    background-color: white;
    margin: 80px auto;
    padding: 64px; 
    /*Preenchimento interno da caixa, ele estica a borda da caixa, pois vem antes dela.*/
    border-radius: 8px;
    max-width: 750px;
    /*Com isso, a borda se torna a largura padrão da caixa, fazendo com q o preenchimento não a estique.*/
}
form h1 {
    font-size: 36px;
}
form fieldset {
    margin-top: 64px;
    border: 0;
}
form legend {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
form legend h2 {
    font-size: 24px;
}
form legend span {
    color: var(--tittle-color);
}
form .field {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}
form .field-group {
    display: flex;
}
form input, 
form select/*Pega algumas coisas deste bloco e joga no select*/ {
    background-color: #f0f0f5;
    border: 0;
    padding: 16px 24px;
    font-size: 16px;
    outline: none;
    border-radius: 8px;
}
form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /*Reseta o estilo do browser, para não ter problemas em adicionar os do campo acima*/
}
form label {
    font-size: 14px;
    margin-bottom: 8px;
}
form .field-group .field + .field /*field seguido de field*/{
    margin-left: 24px;
}
form #adicionais{
    display: flex;
}
form button {
    width: 260px;
    height: 56px;
    background-color: var(--primary-color);
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: 0;
    margin-top: 40px;
    transition: background-color 400ms;
}
form button:hover /*Para quando passar o mouse em cima*/{
    background-color: #2fb86e;
}
.items-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /*Três colunas em frações*/
    gap: 16px;
}
.items-grid li {
    background-color: #f5f5f5;
    list-style: none;
    border: 2px solid #f5f5f5;
    border-radius: 8px;
    height: 180px;
    padding: 32px 24px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    cursor: pointer;
}
.items-grid li span {
    margin-top: 12px;
    flex: 1;
    display: flex;
    align-items: center;
    color: var(--tittle-color);
}
.items-grid li.selected {
    background: #e1faec;
    border: 2px solid #34cb79;
}
.items-grid li img,
.items-grid li span {
    pointer-events: none;
}