#modal {
    background-color: #0e0a14ef;
    transition: 400ms;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;   
}
#modal.hide {
    display: none;
}
#modal .content {
    color: white;
    width: 420px;
}
#modal .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 42px;
}
#modal .header a {
    background: url('../assets/x.svg') no-repeat;
    width: 40px;
    height: 40px;
    display: flex;
    margin-top: 83px;
    font-size: 0.00000001px;
}
#modal .header h1 {
    color: white;
    font-size: 36px;
    line-height: 42px;
    margin-top: 40px;
    margin-bottom: -30px;
}
#modal form label {
    font-size: 14px;
    line-height: 16px;
    display: block;
    margin-bottom: 8px;
}
#modal form .field {
    display: flex;
    flex-direction: column;
}
#modal form input {
    margin-top: 8px;
    flex: 1;
    background-color: var(--wcolor);
    border-radius: 8px;
    border: 0;
    padding: 16px 24px;
    font-size: 16px;
    color: #6c6c80;
}
#modal form button {
    margin-top: 9px;
    display: block;
    font-weight: bold;
    font-size: 20px;
    height: 72px;
    background-color: var(--primary-color);
    border: 0;
    border-radius: 8px;
    color: white;
}
#modal form button:hover {
    transition: 400ms;
    background-color: #2fb85e;
}
/* para o modal point created: */
#modal.point .content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#modal.point h1 {
    color: white;
    margin-top: 32px;
}